#main-section {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: blue;
}

recipe-name {
  font-family: "Helvetica";
  font-style: italic;
  color: maroon;
}

h1 {
  font-family: "Monaco";
  font-style: italic;
  color: green;
}

p {
  font-family: "Arial";
  color: gray;
}

ul {
  list-style-type: square;
}


/* your CSS goes into this file. For example:

p {
  color: #ff00ff;
  text-decoration: underline;
}

btw, this is a CSS comment. Feel free to delete it.

 */
