#main-section {
font-family: "Georgia", serif;
color: blue;
}

recipe-name {
font-family: "Helvetica";
color: maroon;
}

p {
font-family: "Arial";
color: gray;
}

/* your CSS goes into this file. For example:

p {
  color: #ff00ff;
  text-decoration: underline;
}

btw, this is a CSS comment. Feel free to delete it.

 */
